.container-fluid {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.osnova {
  background-color: #ffff4d;
  width: 400px;
  height: 100vh;
  border-radius: 5px;
  position: relative;
  box-shadow: 4px 4px 4px 0 rgba(255, 255, 255, 0.6) inset, -4px -4px 3px 0 rgba(0, 0, 0, 0.5) inset;
}
@media screen and (max-width: 576px) {
  .osnova {
    width: 100%;
    height: 100vh;
  }
}

#i-tetramino-l {
  position: absolute;
  top: 15%;
  left: 5%;
}

#z-tetramino-l {
  position: absolute;
  top: 30%;
  left: 5%;
}

#t-tetramino-l {
  position: absolute;
  top: 40%;
  left: 5%;
}

#l-tetramino-l {
  position: absolute;
  top: 50%;
  left: 5%;
}

#i-tetramino-r {
  position: absolute;
  top: 15%;
  right: 3%;
}

#z-tetramino-r {
  position: absolute;
  top: 30%;
  right: 3%;
}

#t-tetramino-r {
  position: absolute;
  top: 40%;
  right: 3%;
  transform: rotateY(180deg);
}

#l-tetramino-r {
  position: absolute;
  top: 50%;
  right: 3%;
  transform: rotateY(180deg);
}

#t-tetramino-t {
  position: absolute;
  top: 3%;
  left: 19%;
  transform: rotate(270deg);
}

#l-tetramino-t {
  position: absolute;
  top: 3%;
  right: 19%;
  transform: rotate(270deg);
}

.tetris {
  margin-top: 4%;
  text-align: center;
  font-size: 1.5em;
}

.fon {
  background: url(square.png);
  background-size: cover;
  opacity: 0.1;
}

.ramka-display {
  /*background-color: #eeccff;*/
  position: absolute;
  top: 5%;
  left: 15%;
  width: 70%;
  height: 60%;
  border-left: 4px solid;
  border-right: 4px solid;
  border-bottom: 4px solid;
}

.display {
  position: absolute;
  width: 80%;
  height: 80%;
  top: 10%;
  left: 10%;
  background-color: #9fae87;
  display: flex;
  box-shadow: 2px 2px 1px 2px rgba(0, 0, 0, 0.4) inset, -2px -2px 1px 2px rgba(255, 255, 255, 0.4) inset;
}

.game-display-ramka {
  height: 100%;
  flex: 2;
  padding: 2%;
}

.game-display {
  display: flex;
  flex-wrap: wrap;
  /*position: relative;*/
}

#godz {
  position: absolute;
  top: 15%;
  left: 10%;
  max-width: 55%;
  max-height: 70%;
}
#godz img {
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
}

.stat-display {
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 3%;
  font-size: 0.8em;
}

.statistics {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#points-result,
#cleans-result,
#level-result {
  align-self: flex-end;
  margin-right: 20%;
}

.controls {
  position: absolute;
  bottom: 0px;
  left: 0px;
  height: 32%;
  width: 100%;
  /*background-color: lightgrey;*/
}

.main {
  height: 100%;
  width: 45%;
  /*background-color: grey;*/
}

.copche-ramka {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 55px;
}
.copche-ramka p {
  font-size: 0.5em;
}

.tri {
  height: 25%;
  display: flex;
  justify-content: space-around;
}

button::-moz-focus-inner {
  border: 0;
}

button:focus {
  outline: none;
}

.edno {
  height: 30px;
  width: 30px;
  min-width: 30px;
  min-height: 30px;
  max-width: 30px;
  max-height: 30px;
  border-radius: 50%;
  border: 1px solid;
  background-color: red;
  box-shadow: 0 1px 4px rgba(255, 255, 255, 0.8) inset, 0 -1px 4px rgba(0, 0, 0, 0.8) inset;
}
.edno:active {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.8) inset, 0 -1px 4px rgba(255, 255, 255, 0.8) inset;
}

.drop-ramka {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 110px;
  margin: 10% auto;
}
.drop-ramka p {
  font-size: 0.5em;
}

.drop {
  height: 80px;
  width: 80px;
  min-width: 80px;
  min-height: 80px;
  max-width: 80px;
  max-height: 80px;
  border-radius: 50%;
  background-color: red;
  border: 1px solid;
  box-shadow: 0 3px 6px rgba(255, 255, 255, 0.8) inset, 0 -3px 6px rgba(0, 0, 0, 0.8) inset;
}
.drop:active {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.8) inset, 0 -3px 6px rgba(255, 255, 255, 0.8) inset;
}

.arrows {
  height: 100%;
  width: 55%;
  position: absolute;
  top: 0;
  right: 3%;
  /*background-color: darkgrey;*/
}

.arrow-ramka {
  width: 60px;
  height: 85px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.arrow {
  width: 60px;
  height: 60px;
  min-width: 60px;
  min-height: 60px;
  max-width: 60px;
  max-height: 60px;
  border-radius: 50%;
  background-color: #6600ff;
  border: 1px solid;
  box-shadow: 0 3px 6px rgba(255, 255, 255, 0.8) inset, 0 -3px 6px rgba(0, 0, 0, 0.8) inset;
}
.arrow:active {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.8) inset, 0 -3px 6px rgba(255, 255, 255, 0.8) inset;
}

p {
  font-size: 0.5em;
}

#arrow-rot {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 5%;
  left: 35%;
}

#arrow-left {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 30%;
  left: 5%;
}

#arrow-right {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 30%;
  right: 5%;
}

#arrow-bot {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  bottom: 3%;
  left: 35%;
}

#others {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/*#sound-display{

}*/
#pause-display {
  visibility: hidden;
}

/*# sourceMappingURL=style.css.map */
